
            <!-- Portfolio 
            ================================================== -->
            <h3 class="column-header">Portfolio</h3>

            <div id="portfolio" class="masonry" style="position: relative; height: 918px;">
                
                <div class="portfolio-item masonry-brick" style="position: absolute; width: 274px; top: 0px; left: 0px;">
                    <div class="portfolio-details">
                        <h4>App Icons &amp; Interface</h4>
                        <img src="http://localhost:4567/Derek%20-%20Responsive%20One-Page%20Resume%20-%20Live%20Preview%20-%20WrapBootstrap_files/mock-up-app-icons.png" alt="image description">
                        <p>
                            Sint vidisse in quo, vim an amet dicunt adversarium.
                        </p>
                        <p class="portfolio-links">
                            <a href="http://wbpreview.com/previews/WB0K943X5/#" target="_blank">
                                <i class="icon-signin"></i>&nbsp;Client
                            </a>
                        </p>
                    </div>
                </div>
                
               <div class="portfolio-item masonry-brick" style="position: absolute; width: 274px; top: 0px; left: 286px;">
                    <img src="http://localhost:4567/Derek%20-%20Responsive%20One-Page%20Resume%20-%20Live%20Preview%20-%20WrapBootstrap_files/mock-up-campaign-cover.png" alt="image description">
                    <div class="portfolio-details">
                        <h4>Awareness Campaign</h4>
                        <p>
                            Pellentesque dignissim, odio a euismod viverra, tellus orci viverra risus, 
                            sed accumsan odio elit nec tellus.
                        </p>
                        <p>
                            Ad putent delenit eos, quis ullamcorper vix eu.
                        </p>
                        <p>
                            Sint vidisse in quo, vim an amet dicunt adversarium.
                        </p>
                        <img src="http://localhost:4567/Derek%20-%20Responsive%20One-Page%20Resume%20-%20Live%20Preview%20-%20WrapBootstrap_files/mock-up-campaign-brochures.png" alt="image description">
                        <p class="portfolio-links">
                            <a href="http://wbpreview.com/previews/WB0K943X5/#" target="_blank">
                                <i class="icon-signin"></i>&nbsp;Government Agency
                            </a>
                        </p>
                    </div>
                </div>

                <div class="portfolio-item masonry-brick" style="position: absolute; width: 274px; top: 0px; left: 572px;">
                    <div class="portfolio-details">
                        <h4>Self-Study-Guide</h4>
                        <p>
                            Pellentesque dignissim, odio a euismod viverra, tellus orci viverra risus, 
                            sed accumsan odio elit nec tellus.
                        </p>
                        <p>
                            Sint vidisse in quo, vim an amet dicunt adversarium.
                        </p>
                        <p>
                            Ad putent delenit eos, quis ullamcorper vix eu.
                        </p>
                        <p class="portfolio-links">
                            <a href="http://wbpreview.com/previews/WB0K943X5/#" target="_blank">
                                <i class="icon-download-alt"></i>&nbsp;.doc&nbsp;|&nbsp;
                            </a>
                            <a href="http://wbpreview.com/previews/WB0K943X5/#" target="_blank">
                                <i class="icon-file-alt"></i>&nbsp;.pdf
                            </a>
                        </p>
                    </div>
                </div>

                 <div class="portfolio-item masonry-brick" style="position: absolute; width: 274px; top: 219px; left: 572px;">
                    <div class="portfolio-details">
                        <h4>Coffee Vendor Ads</h4>
                        <p>
                            Sint vidisse in quo, vim an amet dicunt adversarium.
                        </p>
                        <img src="http://localhost:4567/Derek%20-%20Responsive%20One-Page%20Resume%20-%20Live%20Preview%20-%20WrapBootstrap_files/mock-up-coffee-ad.png" alt="image description">
                        <p>
                            - Billboard Posters<br>
                            - Flyer &amp; Stickers<br>
                            - Online Banners<br>
                        </p>
                        <p>
                            Ad putent delenit eos, quis ullamcorper vix eu.
                        </p>
                        <p class="portfolio-links">
                            <a href="http://wbpreview.com/previews/WB0K943X5/#" target="_blank">
                                <i class="icon-download-alt"></i>&nbsp;Flyer&nbsp;|&nbsp;
                            </a>
                            <a href="http://wbpreview.com/previews/WB0K943X5/#" target="_blank">
                                <i class="icon-picture"></i>&nbsp;Posters
                            </a>
                        </p>
                    </div>
                </div>
                
                 <div class="portfolio-item masonry-brick" style="position: absolute; width: 274px; top: 298px; left: 0px;">
                    <img src="http://localhost:4567/Derek%20-%20Responsive%20One-Page%20Resume%20-%20Live%20Preview%20-%20WrapBootstrap_files/mock-up-college-classroom.png" alt="image description">
                    <div class="portfolio-details">
                        <h4>Design Challenge NYU</h4>
                        <p>
                            - Tutor, 101 on Layout<br>
                            - Tutor, 101 on Design<br>
                        </p>
                        <p>
                            Ad putent delenit eos, quis ullamcorper vix eu.
                        </p>
                        <p class="portfolio-links">
                            <a href="http://wbpreview.com/previews/WB0K943X5/#" target="_blank">
                                <i class="icon-signin"></i>&nbsp;NYU Department
                            </a>
                        </p>
                    </div>
                </div>
                
                <div class="portfolio-item masonry-brick" style="position: absolute; width: 274px; top: 600px; left: 286px;">
                    <div class="portfolio-details">
                        <img src="http://localhost:4567/Derek%20-%20Responsive%20One-Page%20Resume%20-%20Live%20Preview%20-%20WrapBootstrap_files/mock-up-brochure.png" alt="image description">
                        <h4>Splemont White / Red</h4>
                        <p>
                            - New Logo<br>
                            - Bottle Label<br>
                            - Festival Broschure<br>
                        </p>
                        <p class="portfolio-links">
                            <a href="http://wbpreview.com/previews/WB0K943X5/#" target="_blank">
                                <i class="icon-picture"></i>&nbsp;Labels&nbsp;|&nbsp;
                            </a>
                            <a href="http://wbpreview.com/previews/WB0K943X5/#" target="_blank">
                                <i class="icon-signin"></i>&nbsp;Winery
                            </a>
                        </p>
                    </div>
                </div>
                
                <div class="portfolio-item masonry-brick" style="position: absolute; width: 274px; top: 617px; left: 572px;">
                    <div class="portfolio-details">
                        <h4>UX Design - Phone App</h4>
                        <p>
                            Pellentesque dignissim, odio a euismod viverra, tellus orci viverra risus, 
                            sed accumsan odio elit nec tellus.
                        </p>
                        <p class="portfolio-links">
                            <a href="http://wbpreview.com/previews/WB0K943X5/#" target="_blank">
                                <i class="icon-mobile-phone"></i>&nbsp;App Store 
                            </a>
                        </p>
                    </div>
                </div>

            </div><!-- end of portfolio -->     