* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* ---- button ---- */
/* CONTAINERS */

body {
    font-family: sans-serif;
    background: #1f1f1f;
    max-width: 150%;
    margin: 0 auto;
    padding-bottom: 40px;
    color: #d9d9d9;
}
/*
.button_filter {
    border: 1px solid #5892c4;
    -webkit-border-radius: 42px;
    -moz-border-radius: 42px;
    border-radius: 42px;
    font-size: 12px;
    font-family: arial, helvetica, sans-serif;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    display: inline-block;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    font-weight: bold;
    color: #e0e0e0;
    background-color: #5892c4;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CFCFCF));
    background-image: -webkit-linear-gradient(top, #FFFFFF, #CFCFCF);
    background-image: -moz-linear-gradient(top, #FFFFFF, #CFCFCF);
    background-image: -ms-linear-gradient(top, #FFFFFF, #CFCFCF);
    background-image: -o-linear-gradient(top, #FFFFFF, #CFCFCF);
    background-image: linear-gradient(to bottom, #FFFFFF, #CFCFCF);
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#FFFFFF, endColorstr=#CFCFCF);
} */

.a-btn {
    border-radius: 10px;
    padding: 10px 30px 10px 70px;
    position: relative;
    float: left;
    display: block;
    overflow: hidden;
    margin: 10px;
    background: linear-gradient(top, #b7f2f4 0%, #7ce7ea 100%);
    border: 1px solid #90c6c8;
    border-color: #90c6c8 #78bdc0 #65b6ba;
    box-shadow: 0px -5px 0px 0px #458a8c, 0 1px 1px #d5d5d5, 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    transition: all 0.2s linear;
}

.a-btn-symbol {
    font-family: 'WebSymbolsRegular', cursive;
    color: #437b7d;
    text-shadow: 0 1px 0 #bef3f5;
    font-size: 20px;
    position: absolute;
    left: 20px;
    width: 20px;
    text-align: center;
    line-height: 32px;
    transition: all 0.3s ease-in-out;
}

.a-btn-text {
    font-size: 20px;
    color: #437b7d;
    text-shadow: 0 1px 0 #bef3f5;
    line-height: 16px;
    font-weight: bold;
    font-family: "Myriad Pro", "Trebuchet MS", sans-serif;
    display: block;
}

.a-btn-slide-text .a-btn:hover {
    transform: scale(1.05);
}

.a-btn:hover .a-btn-symbol {
    opacity: 0.5;
    transform: rotate(360deg);
}

.a-btn:active {
    transform: scale(0.95);
    box-shadow: 0px 0px 0px 1px #458a8c, 0 1px 1px #d5d5d5, inset 0 1px 0 rgba(255, 255, 255, 0.8), 0px 1px 1px 2px #fff;
}
/*
{
    font-family: Arial, sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #555;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9);
} */
/*.button_filter:hover {
    border: 1px solid #e0e0e0;
    background-color: #5892c4;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#C7C7C7));
    background-image: -webkit-linear-gradient(top, #EEEEEE, #C7C7C7);
    background-image: -moz-linear-gradient(top, #EEEEEE, #C7C7C7);
    background-image: -ms-linear-gradient(top, #EEEEEE, #C7C7C7);
    background-image: -o-linear-gradient(top, #EEEEEE, #C7C7C7);
    background-image: linear-gradient(to bottom, #EEEEEE, #C7C7C7);
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#EEEEEE, endColorstr=#C7C7C7);
} */

span.glyphicon {
    color: #000092;
    padding-top: 92;
    transform: scale(0.5, 0.5);
}
/*.button {
    display: inline-block;
    padding: 0.5em 1.0em;
    background: #5892c4;
    border: none;
    border-radius: 7px;
    background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2));
    color: #5892c4;
    font-family: sans-serif;
    font-size: 16px;
    text-shadow: 0 1px white;
    cursor: pointer;
    opacity: 0.8;
    filter: alpha(opacity=80);
    /* For IE8 and earlier */
/*
}

.button:hover {
    background-color: #8CF;
    text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
    color: #222;
}

.button:active,
.button.is-checked {
    background-color: #28F;
}

.button.is-checked {
    color: white;
    text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
    box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
} 
/* ---- button-group ---- */
/*
.button-group:after {
    content: '';
    display: block;
    clear: both;
}

.button-group .button {
    float: left;
    border-radius: 0;
    /* margin-left: 0; 
    
    margin-right: 1px;*/
}
/*
.button-group .button:first-child {
    border-radius: 0.5em 0 0 0.5em;
}

.button-group .button:last-child {
    border-radius: 0 0.5em 0.5em 0;
} 
/* ---- isotope ---- */

.isotope {
    border: 0px solid #333;
}
/* clear fix */

.isotope:after {
    content: '';
    display: block;
    clear: both;
}
/* ---- .element-item ---- */

.element-item {
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 0px;
}
.element-item > * {
    margin: 0;
    padding: 0;
}
.element-item .name {
    position: absolute;
    color: #FFFFFF;
    font-size: 0px;
    left: 0px;
    top: 0px;
}
.en-markup-crop-options {
    top: 18px !important;
    /*  left: 50% !important;
    margin-left: -100px !important; */
    
    width: 200px !import ant;
    border: 2px rgba(255, 255, 255, .38) solid !important;
    border-radius: 4px !important;
}
.en-markup-crop-options div div:first-of-type {
    /* margin-left: 0px !important; */
}
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:900|Josefin+Sans:400);
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'codropsicons';
    src: url('../fonts/codropsicons/codropsicons.eot');
    src: url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/codropsicons/codropsicons.woff') format('woff'),
    url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
    url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: '';
}
.clearfix:after {
    clear: both;
}
/* body {
    background: #2a2e39;
    color: #dbdbdb;
    font-weight: 400;
    font-size: 1em;
    font-family: "Josefin Sans", "Helvetica Neue", Helvetica, sans-serif;
} */

a {
    color: #36b6dd;
    text-decoration: none;
}
a:hover,
a:focus {
    outline: none;
    color: #fff !important;
}
.codrops-links {
    position: relative;
    -webkit-flex: none;
    flex: none;
    white-space: nowrap;
}
.codrops-links::after {
    position: absolute;
    top: 0;
    left: 50%;
    /*   margin-left: -1px; */
    
    width: 2px;
    height: 100%;
    background: #dbdbdb;
    content: '';
    -webkit-transform: rotate3d(0, 0, 1, 22.5deg);
    transform: rotate3d(0, 0, 1, 22.5deg);
}
.codrops-icon {
    display: inline-block;
    /* margin: 0.5em;
    padding: 0em 0;
    width: 1.5em; */
    
    text-decoration: none;
}
.codrops-icon span {
    display: none;
}
.codrops-icon:before {
    /* margin: 0 5px; */
    
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'codropsicons';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
}
.codrops-icon--drop:before {
    content: "\e001";
}
.codrops-icon--prev:before {
    content: "\e004";
}
.demos {
    margin-top: 0.5em;
}
.demos__item {
    display: inline-block;
    /* margin: 0 1em 0 0; 
    padding: 0.2em 0;*/
    
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 2px;
    font-size: 0.75em;
}
.demos__item--current {
    border-bottom: 0px solid #000;
    border-color: initial;
}
.related {
    /*  padding: 9em 1em; */
    
    text-align: center;
    font-size: 1.5em;
    line-height: 1.8;
}
@media screen and (max-width: 590px) {
    .demos__item {
        margin-bottom: 1.5em;
    }
}
.intro {
    position: fixed;
    z-index: 20;
    overflow: hidden;
    width: 80%;
    height: 100%;
    background: #2a2e39;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    max-width: 100%;
}
.container--open .intro {
    -webkit-transform: translate3d(0, -100%, 0) translate3d(0, 250px, 0);
    transform: translate3d(0, -100%, 0) translate3d(0, 50px, 0);
    max-width: 100%;
}
/* Fullscreen image */

.intro__image {
    position: absolute;
    bottom: 0;
    min-width: 100%;
    min-height: 120%;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.6s, opacity 0.6s;
    transition: transform 0.6s, opacity 0.6s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.container--open .intro__image {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
}
/* Intro content */

.intro__content {
    position: absolute;
    bottom: 0;
    /* padding: 1.8em; */
    
    width: 100%;
    font-size: 1.15em;
}
.intro__title {
    /* margin: 0 0 20px; */
    
    font-weight: 900;
    font-size: 4em;
    font-family: "Playfair Display", Georgia, serif;
    line-height: 1;
}
.intro__subtitle {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.intro__description {
    /*  margin: 0 auto 0 1em; */
    
    line-height: 1.2;
}
/* Trigger button with SVG */

.trigger {
    position: relative;
    -webkit-flex: none;
    flex: none;
    overflow: hidden;
    margin: 0 0 0 20px;
    padding: 0;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    background: none;
}
/* Hide the text */

.trigger span {
    position: absolute;
    top: 100%;
}
.icon rect,
.icon line {
    stroke: #dbdbdb;
    fill: none;
    stroke-width: 2px;
}
.icon {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}
/* Hide grid and show cross when opening */

.icon--cross,
.trigger--active .icon--grid {
    opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
}
.trigger--active .icon--cross {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
/* Main content */

.items-wrap {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 250px 5px 0;
}
.items-wrap::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2a2e39;
    content: '';
    opacity: 1;
    -webkit-transition: opacity 0.6s;
    transition: opacity 0.6s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    pointer-events: none;
}
.container--open .items-wrap::after {
    opacity: 0;
}
/*    SLIDES   */

.item {
    position: relative;
    -webkit-flex: 1 0 25%;
    flex: 1 0 25%;
    overflow: hidden;
    height: 22vw;
    outline: none;
}
.item__image {
    position: absolute;
    top: 60%;
    min-height: 100%;
    width: 100%;
    opacity: 0.7;
    -webkit-transform: translate3d(0, -50%, 0) scale3d(1.2, 1.2, 1);
    transform: translate3d(0, -50%, 0) scale3d(1.2, 1.2, 1);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}
.item:hover .item__image {
    opacity: 1;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}
.item__title {
    position: absolute;
    bottom: 0;
    /* margin: 0; */
    
    padding: 1em;
    color: #dbdbdb;
    font-size: 1.85em;
    font-family: "Playfair Display", Georgia, serif;
    line-height: 1;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}
.item:hover .item__title {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}
/* Media Queries */

@media screen and (max-width: 1440px) {
    .item {
        -webkit-flex: 1 0 33.333%;
        flex: 1 0 33.333%;
        height: 30vw;
    }
}
@media screen and (max-width: 1000px) {
    .item {
        -webkit-flex: 1 0 50%;
        flex: 1 0 50%;
        height: 45vw;
    }
    
    .item,
    .intro__content {
        font-size: 0.85em;
    }
}
@media screen and (max-width: 590px) {
    .item {
        -webkit-flex: 1 0 100%;
        flex: 1 0 100%;
        height: 90vw;
    }
    
    .intro__title {
        font-size: 2em;
    }
}
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
/* Override from bootstrap.css */

.carousel-indicators {
    z-index: 8;
    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: 0px;
}
#map {
    height: 180px;
}
.connect {
    letter-spacing: +10px;
    font-size: 32px;
    color: #ffffff;
}
.container.float {
    background: #1F1F1F;
    max-width: 100%;
    /*   padding-left: 10%;
    padding-right: 10%; */
    
    padding-top: 0px;
    padding-bottom: 40px;
}
/* body {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 40px;
    color: #d9d9d9;
} */

.carousel-caption {
    border-color: #1f1f1f;
    border-width: 0px;
}
{
    border-color: #1f1f1f;
    border-width: 0px;
}
.caption {
    border-color: #1f1f1f;
    border-width: 0px;
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */

.navbar-wrapper {
    /* padding-left: 10%;
    padding-right: 10%; */
    
    max-width: 100%;
    position: absolute;
    top: 0;
    z-index: 9;
}
/* Flip around the padding for proper display in narrow viewports */
/* This is the top nav where the links are located */

.navbar-wrapper > .container {
    border-width: 0px;
    /* padding-right: 10%;
    padding-left: 10%; */
}
.navbar-wrapper .navbar {
    /* padding-right: 10%;
    padding-left: 10%; */
}
.navbar-wrapper .navbar .container {
    max-width: 100%;
}
/* CUSTOMIZE THE CAROUSEL2
-------------------------------------------------- */
/* Carousel base class */

.carousel {
    /* margin-left: 0%;
    margin-right: 0%; */
    
    font-family: "alegreya";
    height: 150px;
}
/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    background-color: #1f1f1f;
    z-index: 10;
}
/* Declare heights because of positioning of img element */

.carousel .item {
    height: 200;
    background-color: #1f1f1f;
}
img {
    opacity: 0.5;
    filter: alpha(opacity=50);
    /* For IE8 and earlier */
}
.carousel-inner > .item > img {
    font-family: "alegreya";
}
.carousel-inner > .item > img {
    background-color: #1f1f1f;
    position: absolute;
    top: 350;
    left: 0;
    min-width: 0%;
    height: 0;
}
/* RESUME
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */

.col-md-7 .featurette-heading {
    font-size: 36px;
}
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
    font-family: "alegreya";
    color: #698fb8;
}
.marketing .col-lg-4 p {
    /* margin-right: 10px;
    margin-left: 10px; */
}
/* RESUME
------------------------- */
/*.col-md-7 */

body > div.container.marketing > div:nth-child(3),
div:nth-child(5) {
    /*  padding-left: 10%;
    padding-right: 10%; */
    
    background-color: #1f1f1f;
}
.feature tte-divider {
    /* margin: 5px 0; */
    /* Space out the Bootstrap <hr> more */
}
/* Thin out the marketing headings */

.featurette-heading {
    font-weight: 300;
    letter-spacing: -1px;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    
    .navbar-wrapper {
        margin-top: 20px;
    }
    
    .navbar-wrapper .container {
        /*  padding-right: 15px;
        padding-left: 15px; */
    }
    
    .navbar-wrapper .navbar {
        /*   padding-right: 0; 
        padding-left: 0; */
    }
    /* The navbar becomes detached from the top, so we round the corners */
    
    .navbar-wrapper .navbar {
        border-radius: 0px;
    }
    /* Bump up size of carousel content */
    
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
    
    .featurette-heading {
        font-size: 50px;
    }
}
@media (min-width: 80%) {
    letter-spacing: -1px;
    .featurette-heading {
        margin-top: 120px;
    }
}
